<div class="title-home jarallax" style="background-image: url(assets/images/team2.jpg);">

  <div class="overlay"></div>
  <!-- End overlay -->

  <div class="container">

    <div class="text-center">
      <h4 data-sr style="" class='we-are'>We are
        <span class="color typed-two">&nbsp;</span>
      </h4>
      <em data-sr>Donec et purus iaculis, posuere ipsum sed, lobortis quam. Suspendisse potenti.
        <br>
        Vestibulum accumsan sem sit amet leo finibus rutrum. Nulla sit amet
        <br>
        posuere arcu, sit amet porttitor nibh.</em>
      <div class="buttons mt40 mb160">
        <a href="/our_work" class="btn btn-white animsition-link" data-sr>
          <span>view our works</span>
        </a>

      </div>
    </div>

  </div>
  <!-- End container -->

</div>

<main>

  <!-- ************************ -->
  <!--   SECTION FEATURES       -->
  <!-- ************************ -->

  <section class="features pt100 pb100">

    <div class="container">
      <div class="row">

        <div class="feature-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-diamond"></i>
            </div>
            <h6>creative design</h6>
            <p>Pellentesque diam, vulputate vitae mollis a, mollis id nisi</p>
          </div>
        </div>
        <!-- End features-item -->
        <div class="feature-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">

            <div class="item-head">
              <i class="cr-magnifier"></i>
            </div>
            <h6>well organized</h6>
            <p>Aliquam accumsan sapien diam dignissim scelerisque</p>
          </div>
        </div>
        <!-- End features-item -->

        <div class="feature-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-gear"></i>
            </div>
            <h6>easy to customize</h6>
            <p>Cum sociis natoque penatibus magnis dis parturient</p>
          </div>
        </div>
        <!-- End features-item -->

        <div class="feature-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-star"></i>
            </div>
            <h6>support 24/7</h6>
            <p>Maecenas vitae mollis porttitor metus in lobortis justo</p>
          </div>
        </div>
        <!-- End features-item -->
      </div>
    </div>
    <!-- End container -->

  </section>

  <!-- ************************ -->
  <!--   SECTION ABOUT          -->
  <!-- ************************ -->

  <section class="pt50">

    <div class="container">
      <div class="row">

        <div class="info-block-wrap clearfix">

          <div
            class="image-block col-md-7"
            style="background-image: url(assets/images/index_three_about.png);"></div>
          <!-- End image-block -->
          <div class="col-md-7">
            <div class="info-block sm-mb30">
              <h3>who we are</h3>
              <p>
                Pellentesque vitae feugiat nisi, et haretra eros. Cras vehicula dignissim augue
                vitae efficitur. Aliquam erat volutpat. Nulla facilisi. onec ut felis eget
                turpis tempus mattis. Proin aliquet nec erat at laoreet. Ut justo ligula,
                finibus hendrerit sapien et, gravida aliquam urna. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Fusce quis
                felis nec dolor interdum lacinia.
              </p>
            </div>
            <!-- End info-block -->

          </div>

        </div>
        <!-- End info-block-wrap -->
      </div>

    </div>
    <!-- End container -->

    <div class="container">

      <div class="love-block">
        <h2 data-sr>idea + design + development =
          <i class="fa fa-fw fa-heart-o"></i>
        </h2>
      </div>
      <!-- End love-block -->

    </div>
    <!-- End container -->
  </section>

  <!-- ************************ -->
  <!--   SEPARATOR              -->
  <!-- ************************ -->

  <div class="container">
    <div class="sep-line"></div>
  </div>
  <!-- End container -->

  <!-- ************************ -->
  <!--   SECTION SERVICES       -->
  <!-- ************************ -->

  <section class="pt150 pb150">
    <div class="container">

      <div class="section-title">
        <h2 data-sr>what we do</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <em data-sr="wait .2s">Suspendisse potenti. In dignissim quis turpis nec
              egestas. Curabitur faucibus sollicitudin magna, mattis sagittis erat tempus
              eget.</em>
          </div>
        </div>

      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row">
        <div class="owl-services">

          <div class="owl-item">
            <div class="col-md-5">
              <img src="assets/images/portfolio-style-one/single5.jpg" alt="image">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <h2 class="uppercase">01. graphic design</h2>

              <p>Vestibulum eu ante eget metus consequat tincidunt id a metus. Curabitur
                bibendum quam porta, pharetra diam quis, porta lacus. Sed augue ex, tempor vitae
                rutrum vel, congue consequat tortor. Cras quis diam fermentum, ultrices leo at,
                ornare enim.
              </p>

              <p>Duis tincidunt, eros at feugiat efficitur, metus nulla sagittis neque, eget
                feugiat orci tellus vitae enim. Pellentesque volutpat dolor purus, ut tincidunt
                eros vestibulum vitae.</p>

              <div class="mt40">
                <a href="/our_work" class="btn animsition-link line-hor">
                  <span>view works</span>
                </a>
              </div>

            </div>
          </div>
          <!-- End owl-item -->

          <div class="owl-item">
            <div class="col-md-5">
              <img src="assets/images/portfolio-style-one/single6.jpg" alt="image">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <h2 class="uppercase">02. web design</h2>

              <p>Vestibulum eu ante eget metus consequat tincidunt id a metus. Curabitur
                bibendum quam porta, pharetra diam quis, porta lacus. Sed augue ex, tempor vitae
                rutrum vel, congue consequat tortor. Cras quis diam fermentum, ultrices leo at,
                ornare enim.
              </p>

              <p>Duis tincidunt, eros at feugiat efficitur, metus nulla sagittis neque, eget
                feugiat orci tellus vitae enim. Pellentesque volutpat dolor purus, ut tincidunt
                eros vestibulum vitae.</p>

              <div class="mt40">
                <a href="/our_work" class="btn animsition-link line-hor">
                  <span>view works</span>
                </a>
              </div>

            </div>
          </div>
          <!-- End owl-item -->

          <div class="owl-item">
            <div class="col-md-5">
              <img src="assets/images/portfolio-style-one/single7.jpg" alt="image">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <h2 class="uppercase">03. branding</h2>

              <p>Vestibulum eu ante eget metus consequat tincidunt id a metus. Curabitur
                bibendum quam porta, pharetra diam quis, porta lacus. Sed augue ex, tempor vitae
                rutrum vel, congue consequat tortor. Cras quis diam fermentum, ultrices leo at,
                ornare enim.
              </p>

              <p>Duis tincidunt, eros at feugiat efficitur, metus nulla sagittis neque, eget
                feugiat orci tellus vitae enim. Pellentesque volutpat dolor purus, ut tincidunt
                eros vestibulum vitae.</p>

              <div class="mt40">
                <a href="/our_work" class="btn animsition-link line-hor">
                  <span>view works</span>
                </a>
              </div>

            </div>
          </div>
          <!-- End owl-item -->

        </div>
        <!-- End owl-services -->

      </div>
    </div>
    <!-- End container -->
    <div class="container">

      <div class="services-nav">
        <i class="lnr lnr-arrow-left"></i>
        <i class="lnr lnr-arrow-right"></i>
      </div>

    </div>
    <!-- End container -->
  </section>

  <!-- ************************ -->
  <!--   COUNTERS               -->
  <!-- ************************ -->

  <section
    class="counters jarallax pt100 pb100"
    style="background-image: url(assets/images/bg4.png);">
    <div class="overlay"></div>

    <div class="container">
      <div class="row">

        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-check"></i>
            </div>
            <h6>1245</h6>
            <p>working hours</p>
          </div>
        </div>
        <!-- End counter-item -->
        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">

            <div class="item-head">
              <i class="cr-send"></i>
            </div>
            <h6>648</h6>
            <p>project completed</p>
          </div>
        </div>
        <!-- End counter-item -->

        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-cup"></i>
            </div>
            <h6>576</h6>
            <p>cups of tea</p>
          </div>
        </div>
        <!-- End counter-item -->

        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-heart"></i>
            </div>
            <h6>632</h6>
            <p>happy clients</p>
          </div>
        </div>
        <!-- End counter-item -->
      </div>
    </div>
    <!-- End container -->

  </section>

  <!-- ************************ -->
  <!--   OUR WORKS              -->
  <!-- ************************ -->

  <section class="pt150 pb150">
    <div class="container">

      <div class="section-title">
        <h2 data-sr>our works</h2>
      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="filters-wrap pt5">

            <div class="text-center">
              <ul class="list-none filters">
                <li class="active-filter" data-filter="*">
                  <span>all</span>
                </li>
                <li data-filter=".f_web_design">
                  <span>web design</span>
                </li>
                <li data-filter=".f_development">
                  <span>development</span>
                </li>
                <li data-filter=".f_graphic_design">
                  <span>graphic design</span>
                </li>
                <li data-filter=".f_branding">
                  <span>branding</span>
                </li>
                <li data-filter=".f_photography">
                  <span>photography</span>
                </li>
              </ul>
              <!-- End filters -->

            </div>

          </div>
          <!-- End filters-wrap -->
        </div>
      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row">
        <div class="crazy-portfolio-masonry-wrapper" data-col="3">
          <div class="crazy-portfolio-list">

            <div class="crazy-portfolio-item f_web_design f_photography">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/1.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_branding">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/2.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_web_design">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/3.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_development">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/4.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_graphic_design">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/5.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_branding">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/6.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

          </div>
          <!-- End crazy-portfolio-list -->
        </div>
        <!-- ENd crazy-portfolio-masonry-wrapper -->

        <div class="mt80 text-center">
          <a href="/our_work" class="btn animsition-link line-vert" data-sr>
            <span>see all works</span>
          </a>
        </div>

      </div>
    </div>
    <!-- End container -->

  </section>

  <!-- ************************ -->
  <!--   TESTIMONIAL            -->
  <!-- ************************ -->

  <section
    class="testimonial-wrap jarallax pt150 pb150"
    style="background-image: url(assets/images/testimonial-bg2.png);">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">

        <div class="owl-testimonial-slider">
          <div class="owl-item" data-sr>

            <div class="avatar-wrap">
              <img src="assets/images/testimonial-01.png" alt="avatar">
            </div>

            <h3>Diva span</h3>
            <p>Mauris interdum blandit enim et elementum. Suspendisse potenti. Mauris nulla
              ipsum, euismod et lacinia em.
              <br>
              Donec lobortis magna sed urna cursus, vitae ultrices sapien pellentesque.
              <br>
              In posuere, risus sed aliquet varius, tortor neque.</p>

          </div>
          <!-- End owl-item -->

          <div class="owl-item" data-sr>

            <div class="avatar-wrap">
              <img src="assets/images/testimonial-02.png" alt="avatar">
            </div>

            <h3>Paulo Aramella</h3>
            <p>Mauris interdum blandit enim et elementum. Suspendisse potenti. Mauris nulla
              ipsum, euismod et lacinia em.
              <br>
              Donec lobortis magna sed urna cursus, vitae ultrices sapien pellentesque.
              <br>
              In posuere, risus sed aliquet varius, tortor neque.</p>

          </div>
          <!-- End owl-item -->

        </div>
        <!-- End owl-testimonial-slider -->

      </div>
    </div>
    <!-- End container-fluid -->

    <div class="testimonial-nav">
      <i class="lnr lnr-arrow-left pull-left"></i>
      <i class="lnr lnr-arrow-right pull-right"></i>
    </div>
    <!-- End testimonial-nav -->

  </section>

</main>

<!-- ************************ -->
<!--   SEPARATOR              -->
<!-- ************************ -->

<div class="container">
  <div class="sep-line"></div>
</div>
<!-- End container -->