

<!-- ************************ -->
<!--   PAGE TITLE             -->
<!-- ************************ -->

<div class="page-title jarallax" style="background-image: url(assets/images/bg8.jpg);">

  <div class="overlay"></div>
  <!-- End overlay -->
  <div class="container">
    <div class="text-center">

      <h1 class="tlt">
        Our Works
      </h1>

      <div class="breadcrumbs">
        <ul class="list-none">
          <li>
            <a href="/" class="animsition-link">Home</a>
          </li>
          <li>Our Works</li>
        </ul>
      </div>
      <!-- End breadcrumbs -->

    </div>
  </div>
  <!-- End container -->
</div>
<!-- End page-title -->

<main>

  <!-- ************************ -->
  <!--   PORTFOLIO              -->
  <!-- ************************ -->

  <section class="pt150 pb150">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="filters-wrap mb100">

            <div class="borders"></div>

            <div class="text-center">
              <ul class="list-none filters">
                <li class="active-filter" data-filter="*">
                  <span>all</span>
                </li>
                <li data-filter=".f_web_design">
                  <span>web design</span>
                </li>
                <li data-filter=".f_development">
                  <span>development</span>
                </li>
                <li data-filter=".f_graphic_design">
                  <span>graphic design</span>
                </li>
                <li data-filter=".f_branding">
                  <span>branding</span>
                </li>
                <li data-filter=".f_photography">
                  <span>photography</span>
                </li>
              </ul>
              <!-- End filters -->

            </div>

          </div>
          <!-- End filters-wrap -->
        </div>
      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row">
        <div class="crazy-portfolio-masonry-wrapper" data-col="3">
          <div class="crazy-portfolio-list">

            <div class="crazy-portfolio-item f_web_design f_photography">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/1.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_branding">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/2.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_web_design">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/3.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_development">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/4.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_graphic_design">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/5.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_branding">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/6.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_development">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/7.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_graphic_design">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/8.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

            <div class="crazy-portfolio-item f_photography">
              <a href="/work" class="animsition-link">
                <div
                  class="image-wrap"
                  style="background-image: url(assets/images/portfolio-style-three/9.jpg);"></div>
                <div class="overlay-color"></div>
              </a>
            </div>
            <!-- End crazy-portfolio-item -->

          </div>
          <!-- End crazy-portfolio-list -->
        </div>

      </div>
    </div>
    <!-- End container -->

  </section>

</main>