<main>
  <section class="features pt150" id="about_us">

    <div class="container">
      <div class="title">
        The Intellectual and Technological Powerhouse Creating Tomorrow.
      </div>
        <div class="row pt70 pb50">
          <div class="col-md-6 agile-diagram-text pt50" style="font-size: larger;">
            <%= image_tag 'diagram_bushi.png' %>
          </div>
          <div class="col-md-6 bushi-workflow" >
            <div class="agile-diagram-sub-tex">
                <h4 class="sub_title"> Research & Planning
                  <div class="crazy-borderv2"></div>
                </h4>
                <p class='text black'>We apply the rigor of the scientific method to the nascent space of cryptocurrency and blockchain, developing the infrastructure of the Web 3.0.</p>

              </div>
              <div class="agile-diagram-sub-tex">
                <h4 class="sub_title"> Agile Development
                  <div class="crazy-borderv2"></div>
                 </h4>
              <p class='text black'>Speed is our main tenant. We apply Agile methodologies to a novel environment to achieve project deliverables while creating the infrastructure on which they sit.</p>
            </div>
              <div class="agile-diagram-sub-tex">
                <h4 class="sub_title"> Product Launch
                  <div class="crazy-borderv2"></div>
                </h4>
                <p class='text black'>We are the intersection of a think tank and a products company. We ideate, we innovate and then we create.</p>
              </div>
          </div>
        </div>
    </div>
    <!-- End container -->

  </section>
</main>
