<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Bushido Lab</h1>
    <p>
      <%= @contact[:first_name] %>
    </p>
    <p>
      <%= @contact[:last_name] %>
    </p>
    <p>
      <%= @contact[:email] %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
