<!-- ************************ -->
<!--   FOOTER                 -->
<!-- ************************ -->

<footer>
  <div class="footer-inner clearfix">
    <div class="container">

<!--
      <div class="footer-social mb30">
        <ul class="list-none">
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-facebook fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-twitter fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-linkedin fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-behance fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-pinterest fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
      -->
      <!-- End footer-social -->
      <div class="footer-copy">
        <p>
          Copyright &copy; 2018. Built with <i class="fa fa-heart" style="color: red;"></i> at Bushido Lab
        </p>
      </div>
      <!-- End footer-copy -->
    </div>
    <!-- End container -->
  </div>

</footer>
