<!-- ************************ -->
<!--   FOOTER                 -->
<!-- ************************ -->

<footer class="<%= @site.slug != 'contact_us' && 'pt150'%>">
  <% unless @site.slug == 'contact_us' %>
    <div class="container">

      <h2 data-sr>contact us</h2>

      <div class="col-sm-8 col-sm-offset-2 pt80 pb80" data-sr="wait .2s">
        <div class="row">
          <form
            class="contact-form form-black"
            id="contact-form"
            action="send_email.php"
            method="post"
            data-all-fields-required-msg="All fields are required"
            data-ajax-fail-msg="Ajax could not set the request"
            data-success-msg="Email successfully sent.">
            <div class="col-sm-12 mb30">
              <div class="form-control">

                <input
                  class="contact-form-name"
                  type="text"
                  name="name"
                  placeholder="Your name:">
                <div class="line-input"></div>

              </div>
            </div>
            <!-- End col-sm-12 -->
            <div class="col-sm-12 mb30">
              <div class="form-control">

                <input
                  class="contact-form-email"
                  type="text"
                  name="email"
                  placeholder="Your email:">
                <div class="line-input"></div>

              </div>
            </div>
            <!-- End col-sm-12 -->
            <div class="col-sm-12 mb50">
              <div class="form-control">

                <textarea class="contact-form-message" name="message" placeholder="Message:"></textarea>
                <div class="line-input"></div>

              </div>
            </div>
            <!-- End col-sm-12 -->
            <div class="col-sm-12">
              <div class="text-center">

                <button class="btn">
                  <span>Submit<i class="fa fa-spin fa-spinner ajax-loader" style="display: none;"></i>
                  </span>
                </button>

              </div>
            </div>
            <!-- End col-sm-12 -->
            <div class="col-sm-12">
              <p class="return-msg">&nbsp;</p>
            </div>
            <!-- End col-sm-12 -->
          </form>
          <!-- End contact-form -->
        </div>
      </div>
    </div>
    <!-- End container -->
  <% end %>

  <div class="footer-inner clearfix">
    <div class="container">

      <div class="footer-social mb30">
        <ul class="list-none">
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-facebook fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-twitter fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-linkedin fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-behance fa-fw"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-pinterest fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- End footer-social -->
      <div class="footer-copy">
        <p>
          Copyright &copy; 2018. Build with <i class="fa fa-heart" style="color: red;"></i> at Bushido Lab
        </p>
      </div>
      <!-- End footer-copy -->
    </div>
    <!-- End container -->
  </div>

</footer>